doctype html
html
    head
        meta(charset='utf-8')
        script.
    body
        div
            form(action='/medicines/addForm' method='GET')
                input(type="submit", value="추가")